# Maven build directory
target

# Java JAR files
*.jar

# Documentation build artifacts.
docs/_build

# Unzipped FMU for testing
src/test/resources/zigzag/*

# Logger output
*.log

# Copies of JSON files in the root directory
./*.json

# Helper files.
build.cmd
